p.project-description {
  display: none;
  color: white;
  position: absolute;
  top: 30px;
  left: 0;
  padding: 0 22px;
  /*align-items: center;*/
  height: 100%;
  font-size: .8em;
}

div.image-container:hover img {
  opacity: 0.2;
  border-radius: 4px;
}

div.col-lg-4 img {
  border-radius: 4px;
}

div.image-container:hover p.project-description {
  display: flex;
}

div.project-rows {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 16em;
  margin: 10px 0;
  overflow: hidden;
}

div.col-lg-4.gallery {
  padding: 0px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 15px;
  height: 100%;
}

div.image-container:hover {
  /*border: 1px solid grey;*/
  background: steelblue;
  /*display: flex;*/
  cursor: pointer;
}

div.col-lg-4 > div.image-container {
  /*height: 100%;*/
  border-radius: 4px;
  height: 90%;
  padding: 0px;
  overflow: hidden;
  margin: 15px;
}

div.project-rows > div.col-lg-4.gallery {
  width: calc(33.33333333% - 30px);
}

img.breakout {
  height: 100%;
}

p.proj-links > a {
  color: grey;
  text-decoration: none;
}

p.proj-links > a:hover {
  color: #3fb188;
  text-decoration: none;
}

p.proj-links {
  font-size: .5em;
  display: inline-block;
  margin-left: 10px;
}

div.container > div.social-footer {
  display: flex;
  justify-content: space-between;
}

p.resume {
  color: white;
  /*font-size: 30px;*/
  display: flex;
  align-items: center;
  height: 100%;
  font-style: normal;
    font-weight: bold;
    line-height: 1;
}

div.col-lg-2 > a {
  text-decoration: none;
}

div.foot-col-lg-4 {
  width: 40%;
}

div.foot-col-lg-4 > p > a {
  color: white;
}

div.foot-col-lg-4 > p.resume {
  display: inline-block;
}

div.foot-col-lg-4 > p:hover > a {
  color: #3fb188;
}


div.foot-col-lg-4 > p:hover > a {
  color: #3fb188;
  text-decoration: none;
}

div.row.centered.footer {
  display: flex;
  justify-content: space-between;
}

div.name-title {
  width: 100%;
  margin: 0px;
}

div.header-icon-bar {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    z-index: 10;
    display: flex;
    flex-direction: column;
    font-size: 2em;
    margin: 10px;
}

div.header-icon-bar > div.header-icon > a {
  color: white;
}

div.header-icon-bar > div.header-icon i:hover {
  color: #3fb188;
}
